<!DOCTYPE html>
<html lang="en">
<head>
    <title>D&D Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: dimgrey;
    }

    div.card-header {
        text-align: center;
    }

    div.card {
        background-color: darkslategray;
    }
</style>
<body>
<div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#adventuringGears">
                Adventure Equipments
            </a>
        </div>
        <div id="adventuringGears" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <div class="container">
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Cost</th>
                            <th>Weight</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Abacus" title="5e SRD:Abacus">Abacus</a>
                            </td>
                            <td>2 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Acid_(vial)" title="5e SRD:Acid (vial)">Acid
                                (vial)</a>
                            </td>
                            <td>25 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Alchemist%27s_Fire_(flask)"
                                   title="5e SRD:Alchemist&#39;s Fire (flask)">Alchemist's
                                Fire (flask)</a></td>
                            <td>50 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Antitoxin_(vial)"
                                   title="5e SRD:Antitoxin (vial)">Antitoxin
                                (vial)</a></td>
                            <td>50 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Arcane_Focus,_Crystal"
                                   title="5e SRD:Arcane Focus, Crystal">Arcane Focus,
                                Crystal</a></td>
                            <td>10 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Arcane_Focus,_Orb"
                                   title="5e SRD:Arcane Focus, Orb">Arcane
                                Focus, Orb</a></td>
                            <td>20 gp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Arcane_Focus,_Rod"
                                   title="5e SRD:Arcane Focus, Rod">Arcane
                                Focus, Rod</a></td>
                            <td>10 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Arcane_Focus,_Staff"
                                   title="5e SRD:Arcane Focus, Staff">Arcane
                                Focus, Staff</a>
                            </td>
                            <td>5 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Arcane_Focus,_Wand"
                                   title="5e SRD:Arcane Focus, Wand">Arcane
                                Focus, Wand</a></td>
                            <td>10 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Backpack"
                                   title="5e SRD:Backpack">Backpack</a></td>
                            <td>2 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Ball_Bearings_(bag_of_1,000)"
                                   title="5e SRD:Ball Bearings (bag of 1,000)">Ball
                                Bearings (bag of 1,000)</a></td>
                            <td>1 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Barrel" title="5e SRD:Barrel">Barrel</a>
                            </td>
                            <td>2 gp
                            </td>
                            <td>70 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Basket" title="5e SRD:Basket">Basket</a>
                            </td>
                            <td>4 sp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Bedroll"
                                   title="5e SRD:Bedroll">Bedroll</a></td>
                            <td>1 gp
                            </td>
                            <td>7 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Bell" title="5e SRD:Bell">Bell</a></td>
                            <td>1 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Blanket"
                                   title="5e SRD:Blanket">Blanket</a></td>
                            <td>5 sp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Block_and_Tackle"
                                   title="5e SRD:Block and Tackle">Block
                                and Tackle</a></td>
                            <td>1 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Book" title="5e SRD:Book">Book</a></td>
                            <td>25 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Bottle,_Glass"
                                   title="5e SRD:Bottle, Glass">Bottle,
                                Glass</a></td>
                            <td>2 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Bucket" title="5e SRD:Bucket">Bucket</a>
                            </td>
                            <td>5 cp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Caltrops_(bag_of_20)"
                                   title="5e SRD:Caltrops (bag of 20)">Caltrops
                                (bag of 20)</a>
                            </td>
                            <td>1 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Candle" title="5e SRD:Candle">Candle</a>
                            </td>
                            <td>1 cp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Case,_Crossbow_Bolt"
                                   title="5e SRD:Case, Crossbow Bolt">Case,
                                Crossbow Bolt</a>
                            </td>
                            <td>1 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Case,_Map_or_Scroll"
                                   title="5e SRD:Case, Map or Scroll">Case,
                                Map or Scroll</a>
                            </td>
                            <td>1 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Chain_(10_feet)"
                                   title="5e SRD:Chain (10 feet)">Chain (10
                                feet)</a></td>
                            <td>5 gp
                            </td>
                            <td>10 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Chalk_(1_piece)"
                                   title="5e SRD:Chalk (1 piece)">Chalk (1
                                piece)</a></td>
                            <td>1 cp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Chest" title="5e SRD:Chest">Chest</a></td>
                            <td>5 gp
                            </td>
                            <td>25 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Climber%27s_Kit"
                                   title="5e SRD:Climber&#39;s Kit">Climber's
                                Kit</a></td>
                            <td>25 gp
                            </td>
                            <td>12 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Clothes,_Common"
                                   title="5e SRD:Clothes, Common">Clothes,
                                Common</a></td>
                            <td>5 sp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Clothes,_Costume"
                                   title="5e SRD:Clothes, Costume">Clothes,
                                Costume</a></td>
                            <td>5 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Clothes,_Fine"
                                   title="5e SRD:Clothes, Fine">Clothes,
                                Fine</a></td>
                            <td>15 gp
                            </td>
                            <td>6 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Clothes,_Traveler%27s"
                                   title="5e SRD:Clothes, Traveler&#39;s">Clothes,
                                Traveler's</a></td>
                            <td>2 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Component_Pouch"
                                   title="5e SRD:Component Pouch">Component
                                Pouch</a></td>
                            <td>25 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Crowbar"
                                   title="5e SRD:Crowbar">Crowbar</a></td>
                            <td>2 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Druidic_Focus,_Sprig_of_Mistletoe"
                                   title="5e SRD:Druidic Focus, Sprig of Mistletoe">Druidic Focus, Sprig of
                                Mistletoe</a></td>
                            <td>1 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Druidic_Focus,_Totem"
                                   title="5e SRD:Druidic Focus, Totem">Druidic
                                Focus, Totem</a>
                            </td>
                            <td>1 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Druidic_Focus,_Wooden_Staff"
                                   title="5e SRD:Druidic Focus, Wooden Staff">Druidic
                                Focus, Wooden Staff</a></td>
                            <td>5 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Druidic_Focus,_Yew_Wand"
                                   title="5e SRD:Druidic Focus, Yew Wand">Druidic Focus, Yew
                                Wand</a></td>
                            <td>10 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Fishing_Tackle"
                                   title="5e SRD:Fishing Tackle">Fishing
                                Tackle</a></td>
                            <td>1 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Flask_or_Tankard"
                                   title="5e SRD:Flask or Tankard">Flask or
                                Tankard</a></td>
                            <td>2 cp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Grappling_Hook"
                                   title="5e SRD:Grappling Hook">Grappling
                                Hook</a></td>
                            <td>2 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Hammer" title="5e SRD:Hammer">Hammer</a>
                            </td>
                            <td>1 gp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Hammer,_Sledge"
                                   title="5e SRD:Hammer, Sledge">Hammer,
                                Sledge</a></td>
                            <td>2 gp
                            </td>
                            <td>10 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Healer%27s_Kit"
                                   title="5e SRD:Healer&#39;s Kit">Healer's
                                Kit</a></td>
                            <td>5 gp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Holy_Symbol,_Amulet"
                                   title="5e SRD:Holy Symbol, Amulet">Holy
                                Symbol, Amulet</a>
                            </td>
                            <td>5 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Holy_Symbol,_Emblem"
                                   title="5e SRD:Holy Symbol, Emblem">Holy
                                Symbol, Emblem</a>
                            </td>
                            <td>5 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Holy_Symbol,_Reliquary"
                                   title="5e SRD:Holy Symbol, Reliquary">Holy Symbol,
                                Reliquary</a></td>
                            <td>5 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Holy_Water_(flask)"
                                   title="5e SRD:Holy Water (flask)">Holy
                                Water (flask)</a></td>
                            <td>25 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Hourglass" title="5e SRD:Hourglass">Hourglass</a>
                            </td>
                            <td>25 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Hunting_Trap" title="5e SRD:Hunting Trap">Hunting
                                Trap</a>
                            </td>
                            <td>5 gp
                            </td>
                            <td>25 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Ink_(1_ounce_bottle)"
                                   title="5e SRD:Ink (1 ounce bottle)">Ink
                                (1 ounce bottle)</a>
                            </td>
                            <td>10 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Ink_Pen" title="5e SRD:Ink Pen">Ink
                                Pen</a></td>
                            <td>2 cp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Jug_or_Pitcher"
                                   title="5e SRD:Jug or Pitcher">Jug or
                                Pitcher</a></td>
                            <td>2 cp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Ladder_(10-foot)"
                                   title="5e SRD:Ladder (10-foot)">Ladder
                                (10-foot)</a></td>
                            <td>1 sp
                            </td>
                            <td>25 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Lamp" title="5e SRD:Lamp">Lamp</a></td>
                            <td>5 sp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Lantern,_Bullseye"
                                   title="5e SRD:Lantern, Bullseye">Lantern,
                                Bullseye</a></td>
                            <td>10 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Lantern,_Hooded"
                                   title="5e SRD:Lantern, Hooded">Lantern,
                                Hooded</a></td>
                            <td>5 gp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Lock" title="5e SRD:Lock">Lock</a></td>
                            <td>10 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Magnifying_Glass"
                                   title="5e SRD:Magnifying Glass">Magnifying
                                Glass</a></td>
                            <td>100 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Manacles"
                                   title="5e SRD:Manacles">Manacles</a></td>
                            <td>2 gp
                            </td>
                            <td>6 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Mess_Kit" title="5e SRD:Mess Kit">Mess
                                Kit</a></td>
                            <td>2 sp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Mirror,_Steel"
                                   title="5e SRD:Mirror, Steel">Mirror,
                                Steel</a></td>
                            <td>5 gp
                            </td>
                            <td>0.5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Oil_(flask)" title="5e SRD:Oil (flask)">Oil
                                (flask)</a>
                            </td>
                            <td>1 sp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Paper_(one_sheet)"
                                   title="5e SRD:Paper (one sheet)">Paper
                                (one sheet)</a></td>
                            <td>2 sp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Parchment_(one_sheet)"
                                   title="5e SRD:Parchment (one sheet)">Parchment (one
                                sheet)</a></td>
                            <td>1 sp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Perfume_(vial)"
                                   title="5e SRD:Perfume (vial)">Perfume
                                (vial)</a></td>
                            <td>5 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Pick,_Miner%27s"
                                   title="5e SRD:Pick, Miner&#39;s">Pick,
                                Miner's</a></td>
                            <td>2 gp
                            </td>
                            <td>10 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Piton" title="5e SRD:Piton">Piton</a></td>
                            <td>5 cp
                            </td>
                            <td>0.5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Poison,_Basic_(vial)"
                                   title="5e SRD:Poison, Basic (vial)">Poison,
                                Basic (vial)</a>
                            </td>
                            <td>100 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Pole_(10-foot)"
                                   title="5e SRD:Pole (10-foot)">Pole
                                (10-foot)</a></td>
                            <td>5 cp
                            </td>
                            <td>7 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Pot,_Iron" title="5e SRD:Pot, Iron">Pot,
                                Iron</a></td>
                            <td>2 gp
                            </td>
                            <td>10 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Potion_of_Healing"
                                   title="5e SRD:Potion of Healing">Potion
                                of Healing</a></td>
                            <td>50 gp
                            </td>
                            <td>0.5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Pouch" title="5e SRD:Pouch">Pouch</a></td>
                            <td>5 sp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Quiver" title="5e SRD:Quiver">Quiver</a>
                            </td>
                            <td>1 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Ram,_Portable"
                                   title="5e SRD:Ram, Portable">Ram,
                                Portable</a></td>
                            <td>4 gp
                            </td>
                            <td>35 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Rations_(1_day)"
                                   title="5e SRD:Rations (1 day)">Rations (1
                                day)</a></td>
                            <td>5 sp
                            </td>
                            <td>2 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Robes" title="5e SRD:Robes">Robes</a></td>
                            <td>1 gp
                            </td>
                            <td>4 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Rope,_Hempen_(50_feet)"
                                   title="5e SRD:Rope, Hempen (50 feet)">Rope, Hempen (50
                                feet)</a></td>
                            <td>1 gp
                            </td>
                            <td>10 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Rope,_Silk_(50_feet)"
                                   title="5e SRD:Rope, Silk (50 feet)">Rope,
                                Silk (50 feet)</a>
                            </td>
                            <td>10 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Sack" title="5e SRD:Sack">Sack</a></td>
                            <td>1 cp
                            </td>
                            <td>0.5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Scale,_Merchant%27s"
                                   title="5e SRD:Scale, Merchant&#39;s">Scale,
                                Merchant's</a>
                            </td>
                            <td>5 gp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Sealing_Wax" title="5e SRD:Sealing Wax">Sealing
                                Wax</a>
                            </td>
                            <td>4 sp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Shovel" title="5e SRD:Shovel">Shovel</a>
                            </td>
                            <td>2 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Signal_Whistle"
                                   title="5e SRD:Signal Whistle">Signal
                                Whistle</a></td>
                            <td>5 cp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Signet_Ring" title="5e SRD:Signet Ring">Signet
                                Ring</a>
                            </td>
                            <td>5 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Soap" title="5e SRD:Soap">Soap</a></td>
                            <td>2 cp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Spellbook" title="5e SRD:Spellbook">Spellbook</a>
                            </td>
                            <td>50 gp
                            </td>
                            <td>3 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Spikes,_Iron_(10)"
                                   title="5e SRD:Spikes, Iron (10)">Spikes,
                                Iron (10)</a></td>
                            <td>1 gp
                            </td>
                            <td>5 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Spyglass"
                                   title="5e SRD:Spyglass">Spyglass</a></td>
                            <td>1000 gp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Tent,_two-person"
                                   title="5e SRD:Tent, two-person">Tent,
                                two-person</a></td>
                            <td>2 gp
                            </td>
                            <td>20 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Tinderbox" title="5e SRD:Tinderbox">Tinderbox</a>
                            </td>
                            <td>5 sp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Torch" title="5e SRD:Torch">Torch</a></td>
                            <td>1 cp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Vial" title="5e SRD:Vial">Vial</a></td>
                            <td>1 gp
                            </td>
                            <td>&#8212;
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Waterskin" title="5e SRD:Waterskin">Waterskin</a>
                            </td>
                            <td>2 sp
                            </td>
                            <td>5 lb. (full)
                            </td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dandwiki.com/wiki/5e_SRD:Whetstone" title="5e SRD:Whetstone">Whetstone</a>
                            </td>
                            <td>1 cp
                            </td>
                            <td>1 lb.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#equipmentPacks">
                Equipment Packs
            </a>
        </div>
        <div id="equipmentPacks" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
